form {
    width: 100%;
}

form div {
    padding-bottom: 5px;
}

form label {
    width: 120px;
    display: inline-block;
}

form input[type="text"] {
    width: 200px;
}

div.instructions {
    padding: 10px;
}

#login_msg {
    background-color: red;
    color: white;
    padding: 10px;
    display: none;
}

.logout-container {
    text-align: right;
    padding: 0.5em 0.5em;
    background-color: #eeeeee;
    border-radius: 0.25em;
}

#logout_link {
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 0.25em;
    font-weight: bold;
    padding:0.25em 0.5em;
}

#logout_link:hover {
    text-decoration: underline;
}
