form {
    width: 100%;
}

form div {
    padding-bottom: 5px;
}

form label {
    width: 120px;
    display: inline-block;
}

form input[type="text"] {
    width: 200px;
}

div.instructions {
    padding: 1em 0;
    font-weight:bold;
}

#login_msg {
    background-color: red;
    color: white;
    padding: 10px;
    display: none;
}

.logout-container {
    text-align: right;
    padding: 0.5em 0.5em;
    background-color: #eeeeee;
    border-radius: 0.25em;
}

#logout_link {
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 0.25em;
    font-weight: bold;
    padding:0.25em 0.5em;
}

#logout_link:hover {
    text-decoration: underline;
}

.form-status {
    margin-bottom: 1em;
    padding: 0.25em;
    border-radius: 4px;
    font-weight: bold;
}

.form-status.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.form-status.error {
    background-color: #f8d7da;
    color: red;
    border: 1px solid #f5c6cb;
}

